body {
    background-color: #efefef;
}

.main {
    border-radius: 10px;
    background-color: white;
    margin: 25px;
}

.questionDiv{
    margin-left: 10px;
    width: 74%;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    width: 40px;
    height: 40px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}